
body {
  background-color: hsl(217, 54%, 11%);
}

#main_container {
  background-color: hsl(216, 50%, 16%);
  height: 430px;
  width: 250px;
  /* position: absolute;
  top: 50%;
  left: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  border-radius: 15px;
  box-shadow: 0px 0px 15px 20px hsl(216, 51%, 10%); 
  display: block;
  position: relative;
  margin: 13% auto;

}

#first_picture img{
    width: 225px;
    margin: 13px;
    border-radius: 10px;
}
#first_text, #second_text, #third_text, #fourth_text, hr, #footer_container {
    margin: 13px;
    margin-top: 0;
}

#first_text {
    color: hsl(0, 0%, 100%); 
}

#second_text, #fourth_text, #footer_text{
    color: hsl(215, 51%, 70%);
}

#third_text {
    color: hsl(178, 100%, 50%);
    float: left;
}

#fourth_text {
    text-align: right;
}

hr {
    height: 1.5px;
    background-color: hsl(216, 21%, 46%);
    border: none;
    
}

#footer_container img {
    width: 10%;
    border: 1px solid;
    border-radius: 50%;
    border-color: white;
}

#footer_text {
    margin: 0 0 0 13px;
}

#footer_text, 

#creator_name {
    color: white;
    vertical-align: middle;
}
/* .bottom_text p{
    display: inline-block;
} */